// When you add a new variable in here, make sure to add it to the
// exports declaration at the end of the file.
// That will make sure it ends up in the style guide swatches.

// Brand Colors
$color-gold-standard: #a16c00;
$color-lavender: #b1aed3;
$color-lighten-up: #fed066;
$color-ocean-blue-light: #019cb6;

// Accent Colors
$color-deep-blue: #003954;
$color-happy-orange: #f75c06;
$color-sunrise-yellow: #fdb714;
$color-purple-heart: #3b3591;

// Neutrals
$color-gunmetal-gray: #5b727c;
$color-blue-gray: #99b0ba;
$color-white: #fff;
$color-black: #000;

// Exporting the variables here so we can display them in Storybook.
:export {
  // sass-lint:disable-block no-misspelled-properties no-color-keywords
  brand: {
    deep-blue: $color-deep-blue;
    happy-orange: $color-happy-orange;
    sunrise-yellow: $color-sunrise-yellow;
    purple-heart: $color-purple-heart;
  }
  accent: {
    gold-standard: $color-gold-standard;
    lavender: $color-lavender;
    lighten-up: $color-lighten-up;
    ocean-blue-light: $color-ocean-blue-light;
  }
  neutral: {
    gunmetal-gray: $color-gunmetal-gray;
    blue-gray: $color-blue-gray;
    white: $color-white;
    black: $color-black;
  }
}
