// Typography

@mixin font-primary {
  font-family: 'acumin-pro-semi-condensed', -apple-system, system-ui, SegoeUI,
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

@mixin font-secondary {
  font-family: 'acumin-pro', -apple-system, system-ui, SegoeUI, Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

// Font weight vars.
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

// Global styles for headings.
@mixin font-size-heading1 {
  font-size: 3.6rem;
  font-weight: $font-weight-light;
}

// Global styles for Body copy.

@mixin font-size-body {
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: $font-weight-normal;
}
